.CrudContainer {
  width: 100%;
  h1 {
    text-align: left;
  }
  .crudItems {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 2%;

    .createFroms {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10%;
      .outlined-basic {
        margin-bottom: 5%;
      }
      h3 {
        text-align: left;
      }
      input {
        text-transform: uppercase;
      }
    }

    div {
    display: flex;
    flex-direction: column;
    }
    .resume {
      text-align: left;
      display: flex;
      padding-left: 5%;
      border-left: 1px solid grey;
      justify-content: center;
    h1 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
    }
  }
}
