.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.validateBtn {
  margin-top: 10%;
  width: 150px;
  height: 35px;
  background-color: #449A33;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}



